

h1, h2, h3, h4, h5, h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  margin: 0;
}


.hero-color {
  background-color: #2e2f42;
  text-align: center;
  justify-content: center;
  
}

.hero {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 48px;
 
 
}

.a-link {
  background-color: white;
  color: #2e2f42;
  text-decoration: none;
}

.a-link:hover,
.a-link:focus {
  color: #404bbf;
}

.order-button:hover,
.order-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.order-button {
  color: white;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;  
}

ul, ol {
  list-style: none;
}

.footer {
  background-color: #2E2F42;
  color: white;
}

.footer a {
  color: white;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-web {
  color: #4d5ae5;
  margin-left: 156px;
}


.header-3 {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 20px;
}

.header-2 {
  font-weight: 700;
  line-height: 1.11;
  font-size: 36px;
  letter-spacing: 0.02em;
}

.container{
    width: 1158px;
    margin: 0 auto;
     padding: 0 15px; 
}

.section {
    padding: 120px 0;
    display: flex;
   
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-port li {
border-bottom: 1px solid #E7E9FC;
border-right: 1px solid #E7E9FC;;
border-left: 1px solid #E7E9FC; 
}


.section-port{
    justify-content: space-between;
    
}

.headHero{
    border-bottom: 1px solid #E7E9FC;

      
}


.container-header{
    display: flex;
    align-items: center;
    width: 1440px;
    height: 72px;
}

nav ul {
  display: flex;
  gap: 40px;
  margin-left: 156px;
  padding: 20px;
}



nav {
  gap: 40px;
}

address ul {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  
}

address {
  margin-left: auto; 
   display: flex;
   align-items: center;
  gap: 40px;
}

.hero-color .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}



.section-features ul {
  display: flex;
  gap: 24px;
 justify-content: space-between; 
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction:inherit;
}

.section-features li {
  width: 264px;
  flex-direction: column;
  margin-top: 100px;
 
  
}
